input[type='text'] {
	box-sizing: border-box;
	width: 60%;
	padding: 10px;
	margin: 10px;
	border: 5;
	border-radius: 10px;
}

#dark #moduleText {
  color: white;
}

#dark tbody {
  color: white;
}

input {
	padding: 5px 15px;
	background: #ccc;
	border: 0 none;
	cursor: pointer;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

button:active {
	background-color: grey;
}
.btn-action {
	opacity: 1;
	background: rgba(255, 0, 0, 0.649);
	color: white;
}
.btn-action:hover {
  background: red;
	opacity: 1;
}

input[role='combobox'] {
  box-sizing: border-box;
	width: 80%;
	padding: 10px;
	margin: 10px;
	border: 5;
	border-radius: 10px;
}
