#page {
  overflow-y: auto;
  overflow-x: auto;
}

.subHead {
  font-family: Helvetica;
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 20px;
}

/* For desktops */
@media only screen and (min-width: 768px) {
  .ModulePlan {
    width: 100%;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, minmax(5rem, 10rem));
    overflow-y: auto;
    overflow-x: auto;
    row-gap: 10rem;
    column-gap: 5rem;
  }

  #remove-all {
    gap: 10rem;
    padding: 20px;
    display: block;
    margin-top: 20rem;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 768px) {
  .ModulePlan {
    width: 100%;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(2, minmax(5rem, 10rem));
    overflow-y: auto;
    overflow-x: auto;
    row-gap: 10rem;
    column-gap: auto;
  }

  #remove-all {
    gap: 10rem;
    padding: 20px;
    display: block;
    margin-top: 10rem;
    margin-left: auto;
    margin-right: auto;
  }
}

div {
  margin: 5px;
}

#catchphrase {
  display: grid;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  padding: 10px;
}



