#page {
  background-color: rgb(211, 189, 183);
  font-family: Helvetica;
  display: grid;
  gap: 1.5rem;
  width: 100%;
  height: 100vh;
  grid-template-areas: 
  "head head head head head head head"
  "nav main main main main main main"
  "nav main main main main main main"
  "nav main main main main main main"
  "nav main main main main main main"
  "nav main main main main main main"
  "nav main main main main main main"
  "nav foot foot foot foot foot foot";
}

#page > header {
  color: white;
  text-align: left;
  background-color: #501B1D;
  grid-area: head;
  font-size: 40px
}

#page > nav {
  text-align: center;
  font-family: Helvetica;
  background-color: #64485C;
  grid-area: nav;
}



#page > main {
  background-color: #C38D9E;
  grid-area: main;
  font-size: 40px;
}

#page > footer {
  background-color: #501B1D;
  grid-area: foot;
  font-family: Helvetica;
  padding: 5px;
}

