.subHead {
  font-family: Helvetica;
  text-align: center;
  color: white;
  font-size: 20px;
}

.ModulePlan {
  width: 80%;
  display: table-row;
}

div {
  margin: 5px;
}

#y1 {
  float:left; 
  background: #83677B;
  height: 600px;
  width:20%;
}

#y2 {
  float:left; 
  background:#83677B;
  height: 600px;
  width:20%;
}

#y3 {
  float:left; 
  background: #83677B;
  height: 600px;
  width:20%;
}

#y4 {
  float:left; 
  background: #83677B;
  height: 600px;
  width:20%;
}