#appname {
  color: #f5f5f5;
  padding-left: 1rem;
  margin-bottom: 0.5rem;
}

#semester {
  color: #07003f;
  margin-left: auto; 
  margin-right: 0;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

#dark #semester {
  color: white;
}

#topline {
  display: inline-flex;
  width: 90%;
}

.navbar {
  background-color: #060b26;
  height: 80px;
  display: flex;
  width: 230px;
  min-width: 230px;
  border-radius: 25px;
  justify-content: flex-start;
  align-items: center;
  z-index: 99 !important;
  transition: 300ms;
}

#dark .navbar {
  background-color: gray;
}

.navbar-sidebar {
  background-color: #060b26;
  height: 80px;
  display: flex;
  width: 230px;
  min-width: 230px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  justify-content: flex-start;
  align-items: center;
  z-index: 99 !important;
  transition: 850ms;
}

#dark .navbar-sidebar {
  background-color: gray;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}

#dark .menu-bars {
  background-color: gray;
}

.nav-menu {
  background-color: #060b26;
  width: 230px;
  border-radius: 25px;
  height: fit-content;
  display: flex;
  justify-content: center;
  position: absolute;
  top: -50%;
  left: 20px;
  opacity: 0;
  transition: 850ms;
  transition-delay: 500ms opacity 100ms;
}

#dark .nav-menu {
  background-color: gray;
}

.nav-menu.active {
  top: 5rem;
  opacity: 100;
  transition: 850ms;
  transition-delay: 500ms opacity 100ms;
}

#dark .nav-menu.active {
  background-color: gray;
}

.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #1a83ff;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: #060b26;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#dark .navbar-toggle {
  background-color: gray;
}

span {
  margin-left: 16px;
}