.ModuleInfo {
  display: inline-block;
}

#prereq {
  float: left;
}

#description {
  clear:both;
  float: left;
}

#credits {
  clear:both;
  float: left;
}

#fulfill {
  clear:both;
  float: left;
}

#preclu {
  float: left;
}

#coreq {
  float:left;
}

.sidenote {
  clear:both;
  float: left;
  margin-top: 5rem;
  font-size: 15px;
}